body{
	margin:0;
}
* {
    box-sizing: border-box;
}

.resume{
	height:100vh;
	width:100vw;
	font-family: Arial, sans-serif;
}
.my-detail{
	height: 100vh;
	width: 100vw;
	background-image: linear-gradient(#1e3c72, #C4E0E5);
	display: flex;
	flex-direction: column;
	text-shadow: 2px 2px 4px #4CA1AF;
	color:rgb(113, 113, 113);
}
.header{
	
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding:40px;
	
	height:100px;
	width: 100%;
	
	box-sizing: border-box;
	
	
	

}

.linkedin {
	width:40px;
	height: 40px;
	box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.5);
	transition: box-shadow .3s ease-in-out;
	border-radius: 20%;

}
.linkedin:hover{
	box-shadow: 4px 8px 20px rgba(0, 0, 0, 0.5);

}
.header h1{
	color: white;
	height:100px;
    padding-top:50px;
    font-size: 50px;
    text-shadow: 2px 2px 4px #000000;

}
.detail{
		
	flex:1;
	display:flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	
    


}
.linkedin-a{
	padding-top: 50px;
}
.detail p{
	color:darkblue;
	font-size:40px;
	padding-bottom: 20px;
	padding-top:40px;

}

.image-container{
	background-image: url("image.jpg");
	height:200px;
	width: 200px;
	background-size:contain;
	border-radius: 50%;
	border-style: solid;
	border-width: 2px ;
	border-color: white;
	box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.5);
	transition: box-shadow .3s ease-in-out;
}
.image-container:hover{
	box-shadow: 4px 8px 20px rgba(0, 0, 0, 0.5);

}
.career-objective{
	display: flex;
	align-items:center;
	flex-direction: column;
	padding-bottom: 50px;
	padding-top:40px;
	



}
.career-objective p{
	padding-left: 20%;
	padding-right: 20%;

}

.synopsis{
	display: flex;
	align-items:center;
	flex-direction: column;
	padding-bottom: 50px;
	padding-top:40px;
	
}
.academics table{
	border-collapse: separate;
	border-spacing: 0.5px;

}

.academics td, .academics th{
	border: 0.1px solid black;
    padding:8px;
    text-align: auto;
    

}
.academics th{
	
	background-color: #4B79A1;
	color:white;
}


.academics{
	display: flex;
	align-items: center;
	flex-direction: column;
	padding-bottom: 50px;
	padding-top:40px;

	
}

.subject-interest{
	padding-bottom: 50px;
	padding-top:40px;
	
	display:flex;
	align-items: center;
	flex-direction: column;
}

.accolades{
	padding-bottom: 50px;
	padding-top:40px;
	
	display:flex;
	align-items: center;
	flex-direction: column;
}


.seminar{
	padding-bottom: 50px;
	padding-top:40px;
	
	display:flex;
	align-items: center;
	flex-direction: column;

}

.extra-curricular{
	padding-bottom: 50px;
	padding-top:40px;
	
	display:flex;
	align-items: center;
	flex-direction: column;
}

.gradient-background {
	background-image: linear-gradient(177deg, rgb(220, 220, 220) 10%, rgb(255, 255, 255) 80%, #1e3c72 100%);
}
.header-style{
	color:#4B79A1;
	text-decoration: underline;
	display: flex;
	align-items:center;
	justify-content: center;

	
}
.tab-detail{
	color: rgb(113, 113, 113);;
}




@media(max-width: 767px) {
	.table-container {
		overflow: auto;
		width: 90%;
	}
	.linkedin-a {
		padding-top: 28px;
	}
	.header h1 {
		font-size: 26px;
	}
	.header-style h1{
		font-size: 20px;
		padding-left: 40px;
	}
	.header{
		padding:20px;
	}
	.detail p{
		font-size: 20px;
		padding-left: 20px;
		padding-right: 20px;
	    
	}
	.image-container{
		height:170px;
	    width: 170px;
	}
	.linkedin{
		width:30px;
		height: 30px;
	}
	.career-objective h1{
		font-size: 20px;

	}
	.synopsis h1{
		font-size: 20px;

	}
	.synopsis{
		padding-right: 20px;
	}
	.academics h1{
		font-size: 20px;

	}
	.subject-interest h1{
		font-size: 20px;

	}
	.subject-interest{
		padding-right: 20px;
	}
	.accolades h1{
		font-size: 20px;

	}
	.accolades{
		padding-right: 20px;
	}
	.seminar h1{
		font-size: 20px;

	}
	.seminar{
		padding-right: 20px;
	}
	.extra-curricular h1{
		font-size: 20px;
	}
	.extra-curricular{
		padding-right: 20px;
	}
}